@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}
@layer components {
  .hover-brand-gradient {
    @apply hover:text-transparent hover:bg-gradient-to-r from-indigo-500 from-30% to-blue-400 to-90%;
  }
  .custom-padding-x {
    @apply sm:px-2 md:px-4;
  }
}

body {
  overscroll-behavior: none;
}

.swiper-js-container > .swiper-wrapper {
  transition-timing-function: linear;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
}
