@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

body {
  overscroll-behavior: none;
}

/* custom.css */
.text-glow {
  position: relative;
}

.text-glow:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #00b7ff; /* Feel free to change this to your desired glow color */
  text-shadow: 0 0 10px #00b7ff, 0 0 20px #00b7ff, 0 0 30px #00b7ff,
    0 0 40px #00b7ff;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.text-glow::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  text-shadow: 0 0 10px #00b7ff, 0 0 20px #00b7ff, 0 0 30px #00b7ff,
    0 0 40px #00b7ff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
